body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto&display', sans-serif;
    background: #1C2833;
    display: block;
}
.calCulater_aria{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(#fff700, yellow, #00ff69);
    max-width: 400px;
    min-height: 500px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-shadow: -3px -4px #888888, -7px 0px #888888, 5px 0px #888888, 0px 5px #888888;;
    border-radius: 10px;
    box-sizing: border-box;
}
@media screen and (max-width:479px){
  .calCulater_aria{
    width: 100%;
    height: 100%;
  }
.calCulater_aria label{
    font-size: 16px;
    color: black;
    text-shadow: 0px 1px #00C012;
    text-transform: capitalize;
}
.calCulater_aria input{
    margin-top: 5px;
    padding: 3px 10px 3px;
    border: 1px solid #00BF8F;
 }
.calCulater_aria button{
    font-size: 16px;
    text-shadow: -1px 0px #028;
    padding: 3px 15px 3px;
 }
.calCulater_aria p{
    font-size: 18px;
 }
